{
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,

    "font-family-name-quotes": "always-where-recommended",
    "font-family-no-duplicate-names": true,

    "font-weight-notation": "numeric",

    "number-leading-zero": "always",
    "number-max-precision": 3,
    "number-no-trailing-zeros": true,

    "string-no-newline": true,
    "string-quotes": "single",

    "length-zero-no-unit": true,

    "time-min-milliseconds": 100,

    "unit-blacklist": [],
    "unit-case": "lower",
    "unit-no-unknown": true,

    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true,

    "property-blacklist": [],
    "property-case": "lower",
    "property-no-unknown": true,
    "property-no-vendor-prefix": true
  }
}
