{
  "rules": {
    "color-hex-case": "lower",
    "color-hex-length": "short",
    "color-named": "never",
    "color-no-invalid-hex": true,

    "font-family-name-quotes": "always-where-recommended",
    "font-family-no-duplicate-names": true,

    "font-weight-notation": "numeric"
  }
}
